{
  "apps": [
    {
      "name": "streamsWebServer",
      "cwd": "/home/user/../streams/server",
      "script": "./dst/server.js",
      "log_date_format": "YYYY-MM-DD HH:mm Z",
      "max_memory_restart": "300M",
      "env": {
        "NODE_ENV": "production"
      }
    }
  ]
}
